<div class="projects">
<h3>Projects</h3>
{% for project in site.projects %}
<div class="img_row">
    <img class="col one left" src="{{ project.img | prepend: site.baseurl | prepend: site.url }}"/>
    <div class="col two left" > 
        <br/>
        <strong>{{ project.title }}</strong>
        <!-- <br/>
        {{ project.authors }}
        <br/>
        {{ project.description }} -->
        {{ project.content }}
    </div>
</div>
<div style="line-height:80%;">
    <br>
</div>
{% endfor %}

</div>